html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

body {
  color: #2f3035;
  font-family: "SFProDisplay-Regular", san-serif;
  font-size: 20px;
  line-height: 24px;
  overflow-x: hidden;
  min-width: 320px;
}
